<!--The whole content below can be removed with the new code.-->
<div class="container">
  <h1 class="text-center">
    Mettle Typescript Test
  </h1>
  <hr>
  <ul>
    <li><p><button type="button" (click)="ut_TestObjSerializers()">Test Object Serializers</button></p></li>
    <li><p><button type="button" (click)="ut_TestCallVoid()">Test Call Void</button></p></li>
    <li><p><button type="button" (click)="ut_TestCallStrings()">Test Call Strings</button></p></li>
    <li><p><button type="button" (click)="ut_TestCallDoubles()">Test Call Double</button></p></li>
    <li><p><button type="button" (click)="ut_TestCallDates()">Test Call Dates</button></p></li>
    <li><p><button type="button" (click)="ut_TestBrazeLists()">Test Braze Lists</button></p></li>
    <li><p><button type="button" (click)="ut_TestIntegerLists()">Test Integer Lists</button></p></li>
    <li><p><button type="button" (click)="ut_TestNullIntegers()">Test Null Integers</button></p></li>
    <li><p><button type="button" (click)="ut_TestDbStructs()">Test DB Structs</button></p></li>
    <li><p><button type="button" (click)="ut_TestBrazeAuth()">Test Braze Authentication</button></p></li>
  </ul>
</div>
